@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/inter/Inter.var.woff2) format('woff2');
}

html {
    width: 600px;
}

body {
    margin: 12px;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
summary {
    font-family: 'Inter', Arial, sans-serif;
}

details {
    margin-bottom: 8px;
}
