/* #attendance:focus {
    background-color: #e1efee;
    border-radius: 0px 0px 0px 8px;
} */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(chrome-extension://gioogehddfnceeihfoeencjbhggblkkd/fonts/icons/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'),
        url(chrome-extension://gioogehddfnceeihfoeencjbhggblkkd/fonts/icons/MaterialIcons-Regular.woff2)
            format('woff2'),
        url(chrome-extension://gioogehddfnceeihfoeencjbhggblkkd/fonts/icons/MaterialIcons-Regular.woff)
            format('woff'),
        url(chrome-extension://gioogehddfnceeihfoeencjbhggblkkd/fonts/icons/MaterialIcons-Regular.ttf)
            format('truetype');
}

@font-face {
    font-family: 'Bruh Mono';
    font-style: normal;
    font-weight: 300;
    src: url(chrome-extension://gioogehddfnceeihfoeencjbhggblkkd/fonts/mono/BruhMono.woff2)
            format('woff2'),
        url(chrome-extension://gioogehddfnceeihfoeencjbhggblkkd/fonts/mono/BruhMono.woff)
            format('woff');
}

:root {
    --green: #34a753;
    --red: #d93025;
    --yellow: #fabb04;
    --gray: #bababa;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

#dialog-title {
    text-align: center;
    top: -6px;
    max-width: none;
    font-size: 20px;
    height: 52px;
}

.card-title {
    height: 52px;
    line-height: 52px !important;
    font-size: 20px !important;
    text-align: center;
    margin: 0 88px;
}

.left {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
}

.right {
    position: absolute;
    top: 8px;
    right: 8px;
}

.medium-button {
    width: 36px;
    height: 36px;
    padding: 0;
}

.green {
    color: var(--green);
}

.red {
    color: var(--red);
}

.yellow {
    color: var(--yellow);
}

.gray {
    color: var(--gray);
}

#select .mdc-dialog__content {
    padding: 0px;
}

#select .mdc-dialog__surface {
    max-width: none;
    border-radius: 8px;
}

#delete-dialog .mdc-dialog__surface {
    border-radius: 8px;
}

#status-bar {
    display: flex;
    height: 8px;
    cursor: pointer;
}
#status-red {
    background-color: var(--red);
}
#status-yellow {
    background-color: var(--yellow);
}
#status-green {
    background-color: var(--green);
}
#status-details {
    margin: 12px;
    margin-bottom: 8px;
    display: none;
    text-align: center;
    position: relative;
}
#hide-status-details {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.8rem;
    height: 27px;
}
#status-presence {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 4px;
}
#status-unlisted {
    display: inline-block;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 8px;
}
.status-details-container {
    text-align: center;
    margin-left: -14px;
}
.status-details-container .material-icons {
    vertical-align: text-top;
    font-size: 14px;
}
.status-details-count {
    font-family: 'Bruh Mono', monospace;
    font-size: 14px;
}
.status-details-text {
    text-align: center;
    color: var(--mdc-theme-text-secondary-on-background);
    font-size: 12px;
}

.mdc-list {
    padding: 0px;
}

.mdc-list-item {
    padding-right: 8px;
}

#unlisted-divider {
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding: 8px;
    padding-left: 16px;
    letter-spacing: 0;
    background-color: var(--gm-neutral-highlight-color);
}
#add-all-unlisted {
    float: right;
    height: min-content;
    font-size: 0.8rem;
}

.class-entry {
    max-width: calc(100% - 140px);
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
}

.class-content {
    max-height: 50vh;
    overflow: auto;
}

#class-list {
    padding-bottom: 0;
}

.mdc-button {
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
}

.notification {
    display: flex;
    align-items: center;
    padding: 0 24px;
}

.notification i {
    font-size: 48px;
    color: #9e9e9e;
}

.notification p {
    font-size: 16px;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    text-align: center;
    margin: 1em;
}

.notification ul {
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
}

.updates {
    background-color: var(--mdc-theme-primary);
    color: white;
    overflow: visible;
}

.updates i {
    color: white;
}

.updates-actions {
    overflow: hidden;
}

.updates-actions button {
    color: white !important;
}

#addeth-class {
    width: 100%;
    height: 48px;
    justify-content: left;
    padding-left: 8px;
    color: var(--mdc-theme-primary);
}

#addeth-class .mdc-button__icon {
    width: 36px;
    height: 24px;
    font-size: 24px;
    margin-right: 8px;
    color: var(--mdc-theme-primary);
}

#edit-roster {
    width: 100%;
}

.confirm-roster {
    width: 100%;
}

#roster-status .mdc-list-item {
    cursor: default;
}

.mdc-list-item {
    padding: 0 8px !important;
}
.mdc-list-item__graphic {
    width: 36px !important;
    height: 36px !important;
    padding: 0 !important;
    margin-right: 8px !important;
}

.export-button {
    margin: 0 auto !important;
}

.label {
    margin: 8px 16px 0 16px;
    font-weight: 500 !important;
    font-size: 1rem !important;
}

.class-name-field {
    margin: 4px 16px 0 16px;
}

.mdc-text-field--textarea {
    width: calc(100% - 32px);
    max-width: 69vw;
    margin: 4px 16px 0 16px !important;
    align-items: flex-start;
    overflow: hidden;
}

.mdc-text-field--textarea .mdc-text-field__input {
    line-height: 40px;
    font-size: 12px;
    font-family: 'Bruh Mono', Menlo, Courier, monospace;
    letter-spacing: normal;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    z-index: 1;
}

.mdc-chip-set {
    max-width: 100%;
    width: calc(100% - 18px);
    position: absolute;
}

.mdc-chip {
    font-size: 12px;
    font-family: 'Bruh Mono', Menlo, Courier, monospace;
    letter-spacing: normal;
    padding-left: 1.5ch;
    padding-right: 1.5ch;
    z-index: 2;
}

.mdc-notched-outline {
    z-index: 3 !important;
}
